<span class="drop-down">
    <span>Developers<span class="child-triggerm"></span></span>
    <div class="drop-down-content-wrapper">
        <div class="drop-down-content">
            <div class="col">
            <h3>Docs</h3>
            <a data-context="Mega Menu - Developers - Docs" href="/java/index.html">SDK</a>
            <a data-context="Mega Menu - Developers - Docs" href="https://doc.akka.io/libraries/">Libraries</a>
            </div>
            {{!-- <div class="divider"></div> --}}
            <div class="col">
                <h3>Resources</h3>
                <a data-context="Mega Menu - Developers - Docs" class="kapa-trigger kapa-modal-open-ai hidden">Ask AI</a>
                <a data-context="Mega Menu - Developers - Docs" href="https://www.akka.io/blog">Blog</a>
                <a data-context="Mega Menu - Developers - Docs" href="/reference/release-notes.html">Release Notes</a>
                <a data-context="Mega Menu - Developers - Docs" href="https://portal.akka.io">Support</a>
            </div>
            {{!-- <div class="divider"></div> --}}
            <div class="col">
            <h3>Architecture</h3>
            <a data-context="Mega Menu - Developers - Docs" href="https://www.reactiveprinciples.org/">Principles</a>
            <a data-context="Mega Menu - Developers - Docs" href="https://akkademy.akka.io/">Free Training</a>
            <a data-context="Mega Menu - Developers - Docs" href="https://www.akka.io/certified-reactive-architect">Certification</a>
            </div>
        </div>
    </div>
</span>

