<span class="drop-down button-drop-down">
    <a class="button sm:!m-0 !hidden lg:!inline-block cursor-default">Get Started</a>
    <div class="drop-down-content-wrapper right">
        <div class="drop-down-content get-started">
            <div class="col">
                <a data-context="Mega Menu - Get Started" href="https://console.akka.io/register">
                    <h3>
                    Try Akka for free
                    </h3>
                    <p class=" text-soft-gray leading-snug">Deploy and scale a multi-region app<br>No credit card required</p>
                </a>
                <a data-context="Mega Menu - Get Started" href="https://doc.akka.io/java/author-your-first-service.html">
                    <h3>
                    Develop your own Akka app
                    </h3>
                    <p class=" text-soft-gray leading-snug">Akka account not required<br>Free and open SDK for offline dev</p>
                </a>
                <a data-context="Mega Menu - Get Started" href="https://akka.io/request-a-demo">
                    <h3>
                    Request demo
                    </h3>
                    <p class=" text-soft-gray leading-snug">Personalized demo<br>Akka app design consultation</p>
                </a>
            </div>
        </div>
    </div>
</span>
