<span class="drop-down hide-super-small">
    <span>SDK <span class="child-triggerm"></span></span>
    <div class="drop-down-content-wrapper">
    <div class="drop-down-content">
        <div class="col">
            <h3>SDK</h3>
            {{!-- add links to populate menu --}}
            <a href="/site/akka-documentation/java/key-value-entities.html">Key Value Entities</a>
            <a href="/site/akka-documentation/java/event-sourced-entities.html">Event Sourced Entities</a>
            <a href="/site/akka-documentation/java/views.html">Views</a>
        </div>
        <div class="col">
            <h3>&nbsp;</h3>
            {{!-- add links to populate menu --}}
            <a href="/site/akka-documentation/java/timed-actions.html">Timed Actions</a>
            <a href="/site/akka-documentation/java/workflows.html">Workflows</a>
        </div>
    </div>
    </div>
</span>
