<span class="button-drop-down">
    <a href="https://akka.io/get-started" class="button sm:!m-0 !hidden lg:!inline-block cursor-default" data-context="SDK Docs - Main Nav Button" target="_blank">Get Started</a>
</span>
