<span class="drop-down">
    <span>SDK <span class="child-triggerm"></span></span>
    <div class="drop-down-content-wrapper">
    <div class="drop-down-content">
        <div class="col">
            <h3>SDK</h3>
            <a href="/java/key-value-entities.html">Key Value Entities</a>
            <a href="/java/event-sourced-entities.html">Event Sourced Entities</a>
            <a href="/java/views.html">Views</a>
        </div>
        <div class="col">
            <h3 class="hidden sm:inline-block">&nbsp;</h3>
            <a href="/java/timed-actions.html">Timers</a>
            <a href="/java/workflows.html">Workflows</a>
        </div>
    </div>
    </div>
</span>
